{%extends "layout.html"%}
{%block content%}
<div class = "spacer">

</div>
<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="slogan">
        <h2 class="ml11">
          <span class="text-wrapper">
            <span class="line line1">?</span>
            <span class="letters">Ask Yourself Does the Price Feel Fair</span>
          </span>
        </h2>
        
      </div>
    </div>
  </div>


</div>
<div class="container hm-cont" >
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><u>Property Rates & Price Trends in Banglore</u></h5>
              <p class="card-text">Get current best value before buying your property!</p>
              <div class="card-foot">
                <a href="{{ url_for('buy') }}" class="btn btn-primary bg-transparent hb-fill-right">Buy</a>
               </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><u>Property Rates & Price Trends in Banglore</u></h5>
              <p class="card-text">Get current best value for your property!</p>
             
              <div class="card-foot">
              <a href="{{ url_for('predict_price') }}" class="btn btn-primary bg-transparent hb-fill-right">Sell</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{%endblock content%}